.axis {
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

.chart-plot-background {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 4px;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-vertical-zero-line{
      -fx-stroke: transparent;
}

.chart-horizontal-zero-line{
      -fx-stroke: transparent;
}

.chart-series-line {
    -fx-stroke: transparent;
}

.chart-series-no-transparent-line {
    -fx-stroke: blue;
}

.series-chart-line-symbol{
    -fx-background-color: blue;
    -fx-background-radius: 1px;
    -fx-padding: 1px;
}

.text-area:disabled {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.config-button {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.internal-series-line {
    -fx-stroke: blue;
}